---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.centerer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.centered_img{
  text-align: center;
}

.chessReset{
  margin-top: 10px;
}

.chessStatus{
  margin-top: 10px;
}
